<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <!-- 更改1：存放在 https 服务器 的 ipa 文件地址-->
                    <string>https://yc.gd.cn/app/gwtapp.ipa</string>
                </dict>
            </array>
        <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <!-- 更改2：包名 -->
                <string>com.example.gwtapp</string>
                <key>bundle-version</key>
                <!-- 更改3：不包含 -->
                <string>1.0.1</string>
                <key>kind</key>
                <string>software</string>
                <key>releaseNotes</key>
                <string>1.2.0版本发布</string>
                <key>title</key>
                <string>公務通</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
